/* all pages */
.container {
  color: rgb(247, 236, 236);
}

#link-kleur1 {
  color: rgb(247, 236, 236);
  font-size: 16px;
}

#link-kleur2 {
  color: rgb(247, 236, 236);
  font-size: 16px;
}

#kleurtekst {
  margin-right: 5px;
}

footer {
  margin: 20px;
  font-size: 12px;
  color: rgb(247, 236, 236);
} 

.toast {
    /* dirty: below 'card' button  */
    position: fixed; 
    top: 50px; 
    right: 0; 
    z-index:0;
}

.shop-button {
  font-size: 15px;
  margin-top: -4px;
}

.article-container {
  margin: auto;
}

.card {
  width: 200px; 
  height: 700px; 
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

.card-header {
  height: 5em;
  color: black;
}

.card-text {
  min-height:10em;
  color: black;
}

/* index page */
.product{
  width: 100%; 
  height: inherit; 
  margin-bottom: 80px;
  margin-top: 20px;
  color: black;
}

.product img {
  margin: auto;
  margin-top: 90px;
}

.product > .card-header {
  height: 4em
}

.product-properties > li > .property-name {
  display: inline-block;
  width: 50px;
}
.product_amount {
  width: 80px
}

/* kleur voor de navigatiebalk */
nav {
  background:-webkit-repeating-linear-gradient(82deg, rgb(122, 181, 202) 0%, rgb(139, 199, 199) 800%);
}

/* kleur voor de website en footer */
body {
  background:-webkit-repeating-linear-gradient(82deg, #2f8baf 20%, #165979 80%);
}


.button { /* past wat waardes aan voor de elementen met class button, de winkelwagen knop en de knop van het dropdown menu */
  background-color: #2f8baf;
  color: rgb(247, 236, 236);
  padding: 9px;
  font-size: 16px;
  border:2px;
  border-radius: 3px;
  margin-right: 30px;
}


.dropdown { /* zorgt voor positie het dropdown menu */
  position: relative;
}


.dropdown-content { /* past de inhoud (de blokken) van het dropdown menu aan */
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content span { /* past de inhoud (de inhoud van blokken) van het dropdown menu aan */
  color: black;
  padding: 16px;
  display: block;
}


.dropdown-content span:hover { /* verandert de kleur van een blokje in het dropdown menu als je er over hovert */
  background-color: #ddd;
}


.dropdown:hover .dropdown-content { /* laat de genres zien als je over de knop van het dropdown menu hovert */
  display: block;
}


.button:hover { /* verandert de kleur van alle elementen met class button als je er over hovert */
  background-color: #266179;
}

/* basket page */
.product-properties {
  margin-top:20px;
  list-style: none; 
  padding-left: 5px; 
  font-size: 15px;
}

.product_row  .product-properties  li {
  width: 25%;
  float: left;
}

