/* all pages */
.container {
  color: white;
}

#link-kleur1 {
  color: white;
  font-size: 16px;
}

#link-kleur2 {
  color: white;
  font-size: 16px;
}

#kleurtekst {
  margin-right: 5px;
}

footer {
  margin: 20px;
  font-size: 12px;
  color: white;
} 

.toast {
    /* dirty: below 'card' button  */
    position: fixed; 
    top: 50px; 
    right: 0; 
    z-index:0;
}

.shop-button {
  font-size: 15px;
  margin-top: -4px;
}

.article-container {
  margin: auto;
}

.card {
  width:200px; 
  height: 700px; 
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

.card-header {
  height: 5em;
  color: black;
}

.card-text {
  min-height:10em;
  color: black;
}

/* index page */
.product{
  width: 100%; 
  height: inherit; 
  margin-bottom: 80px;
  margin-top: 20px;
  color: black;
}

.product img {
  margin: auto;
  margin-top: 90px;
}

.product > .card-header {
  height: 4em
}

.product-properties > li > .property-name {
  display: inline-block;
  width: 50px;
}
.product_amount {
  width: 80px
}

/* kleur voor de navigatiebalk */
nav {
  background:-webkit-repeating-linear-gradient(82deg, rgb(122, 181, 202) 0%, rgb(139, 199, 199) 800%);
}

/* kleur voor de website en footer */
body {
  background:-webkit-repeating-linear-gradient(82deg, #2f8baf 20%, #165979 80%);
}

#winkelwagen-knop {
  background-color: #2f8baf;
  color: white;
  padding: 9px;
  font-size: 16px;
  border: none;

}

#winkelwagen-knop:hover {
  background-color: #215f77;
}

#winkelwagen-knop:active {
  border: 20px, rgb(117, 40, 40);
}

/* Dropdown Button */
.dropbtn {
  background-color: #2f8baf;
  color: white;
  padding: 9px;
  font-size: 16px;
  border:2px;
  border-radius: 3px;
  margin-right: 30px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content span {
  color: black;
  padding: 16px;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content span:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #266179;}

/* basket page */
.product-properties {
  margin-top:20px;
  list-style: none; 
  padding-left: 5px; 
  font-size: 15px;
}

.product_row  .product-properties  li {
  width: 25%;
  float: left;
}

